@tailwind base;
@tailwind components;
@tailwind utilities;



.Square{
    background-color: #ED6C0E;
}

.Card{
    background-color: #FFEEE1;
}
.Card:hover{
    background-color: #ED6C0E;
}

.Card:hover .Square{
    background-color: #FFEEE1;
}
.Card:hover p{
    color: #fff;
}
.bgDark{
    background: rgba(255, 255, 255, 0.46) ;
backdrop-filter: blur(10    px);
height: 500px;
padding: 30px;
width: 100% !important;
}
.MiniCard{
    border-radius: 5px;
background: #FFEEE1;
;


}
.circle{
    border-radius: 55px;
    background: rgba(238, 159, 169, 0.30);
    width: 89px;
height: 32px;
flex-shrink: 0;
}
.MiniCard:hover{
background-color: #ED6C0E;
}
.MiniCard:hover p{
    color: #ffff;
}
.MiniCard:hover .GetStarted{
    color: #FFEEE1;
}
.MiniCard:hover  button  svg{
    color: #FFEEE1;
}
.borderBottom{
    border-bottom: 1px solid white;
}
/* Default styles for larger screens */
/* Default styles for larger screens */
